<form ng-submit="addPost()">
    <h3>Add a new post</h3>
    <div class="pull-left">
        <a ui-sref="home.addPost.text">
            <button type="button" class="btn btn-info btn-sm">text</button>
        </a>
        <a ui-sref="home.addPost.link">
            <button type="button" class="btn btn-info btn-sm">link</button>
        </a>
    </div>
    <br><br>
    <div class="form-group">
        <div ui-view></div>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
