<div class="row" style="color:#EEEEEE;">
    <div class="col-lg-12 col-lg-pull-4">
        <div ng-repeat="post in posts | orderBy:'-upvotes' track by $index" class="postHolder">
            <button type="button" id="up" class="fa fa-arrow-circle-up" ng-click="upVote(inc, 1)"></button>
            <span style="font-size:1.8em; padding:2px">{{post.upVote}} </span>
            <button type="button" id="down" class="fa fa-arrow-circle-down" ng-click="downVote(dec, 1)"></button>
            <span style="font-size:25px;color:#BDDAA5">{{post.title}}</span><br> by <span style="color:#ffb600;"> {{post.author}}</span> <br>
            <span class="post-text"> {{post.text}} </span> <br>{{post.link}} <br>
            <a class="pull-right comments" ui-sref="comment({id: post._id})">{{commentCounter}} comments</a>
        </div>
    </div>

    <!--its the addpost-->
    <div ui-view></div>
